@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* TImes New Roman */
	@font-face {
		font-family: 'Times New Roman';
		src: local('Times New Roman'), local('Times-New-Roman'), local('times new roman'),
			local('times-new-roman'), url('/fonts/new-roman/normal.ttf');
		font-weight: 400;
		font-style: normal;
	}
	@font-face {
		font-family: 'Times New Roman';
		src: local('Times New Roman'), local('Times-New-Roman'), local('times new roman'),
			url('/fonts/new-roman/normalItalic.ttf');
		font-weight: 400;
		font-style: italic;
	}
	@font-face {
		font-family: 'Times New Roman';
		src: local('Times New Roman'), local('Times-New-Roman'), local('times new roman'),
			url('/fonts/new-roman/bold.ttf');
		font-weight: 300;
		font-style: normal;
	}
	@font-face {
		font-family: 'Times New Roman';
		src: local('Times New Roman'), local('Times-New-Roman'), local('times new roman'),
			url('/fonts/new-roman/boldItalic.ttf');
		font-weight: 700;
		font-style: italic;
	}

	/* Helvetica Neue */
	@font-face {
		font-family: 'Helvetica Neue';
		src: local('Helvetica Neue'), local('Helvetica-Neue'), local('helvetica neue'),
			url('/fonts/helvetica-neur/HelveticaNeue-Medium-11.ttf');
		font-weight: 500;
		font-style: normal;
	}
	@font-face {
		font-family: 'Helvetica Neue';
		src: local('Helvetica Neue'), local('Helvetica-Neue'), local('helvetica neue'),
			url('/fonts/helvetica-neur/HelveticaNeue-01.ttf');
		font-weight: 700;
		font-style: normal;
	}
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
